/*/////////////////////////////////
//         login page           //
///////////////////////////////*/


main {
    margin: 0 var(--space-lg);
    transform: translateY(10%);
}

.connexion-hero {
    display: none;
}

.form-content {
    gap: var(--space-xl);
}

.title-form {
    text-align: center;
    font-weight: var(--fw-semibold);
    font-size: var(--text-xl);
    color: rgba(var(--second-color), 1);
}

.connexion-form {
    gap: var(--space-lg);
}

.input-group:focus-within label {
    color: rgba(var(--first-color), 1);
    font-weight: var(--fw-semibold);
}

.input-group label span {
    padding: 0px 0px var(--space-md);
    font-weight: inherit;
}

.input-group input:focus {
    border: none;
    box-shadow: var(--shadow-all-around) rgba(var(--first-color), 0.8);
}

.forgot-password {
    font-size: var(--text-xs);
    text-align: right;
}

.not-account {
    font-size: var(--text-sm);
    text-align: center;
}

.not-account a {
    color: rgba(var(--second-color), 1);
    text-decoration: none;
    font-weight: var(--fw-semibold);
}


#foot {}



@media screen and (min-width: 600px) {
    main {
        box-shadow: var(--shadow-all-around) rgba(var(--gray-color), 0.5);
        display: flex;
        flex-direction: row;
        margin: 0 var(--space-2xl);
        width: auto;
        max-height: 700px;
        border-radius: 24px;
        overflow: hidden;
    }

    .connexion-hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 3 1 auto;
        min-width: 50%;
        overflow: hidden;
        background: linear-gradient(135deg, rgba(var(--first-color), 1), rgba(var(--second-color), 1));
    }

    .connexion-hero div:first-child {
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .connexion-hero div img {
        width: 100%;
        filter: drop-shadow(0 0 10px rgba(var(--first-color), 1));
    }

    .connexion-hero p {
        color: white;
        font-weight: var(--fw-semibold);
        font-size: var(--text-2xl);
    }

    .form-content {
        padding: var(--space-lg);
        flex: 2 1 auto;
    }

}