/*/////////////////////////////////
//         login page           //
///////////////////////////////*/


main {
    margin: 0 var(--space-lg);
    transform: translateY(20%);
}

.connexion-hero {
    display: none;
}

.form-content {
    gap: var(--space-xl);
}

.title-form {
    text-align: center;
    font-weight: var(--fw-semibold);
    font-size: var(--text-xl);
    color: rgba(var(--second-color), 1);
}

.connexion-form {
    gap: var(--space-lg);
}

.input-group:focus-within label {
    color: rgba(var(--first-color), 1);
    font-weight: var(--fw-semibold);
}

.input-group label span {
    padding: 0px 0px var(--space-md);
    font-weight: inherit;
}

.input-group input:focus {
    border: none;
    box-shadow: var(--shadow-all-around) rgba(var(--first-color), 0.8);
}

.forgot-password {
    font-size: var(--text-xs);
    text-align: right;
}

.not-account {
    font-size: var(--text-sm);
    text-align: center;
}

.not-account a {
    color: rgba(var(--second-color), 1);
    text-decoration: none;
    font-weight: var(--fw-semibold);
}


.bulle1 {
    position: fixed;
    top: -40px;
    right: -40px;
    width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: rgba(var(--second-color), 0.1);
    border: 2px solid rgba(var(--second-color), 0.5);
    box-shadow: var(--shadow-all-around) rgba(var(--second-color), 0.6);

}

.bulle2 {
    position: fixed;
    bottom: -80px;
    left: -80px;
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: rgba(var(--first-color), 0.1);
    border: 2px solid rgba(var(--first-color), 0.3);
    box-shadow: var(--shadow-all-around) rgba(var(--first-color), 0.6);
    transform: translate(300px, -300px);
    transition: transform linear 50s;
}

#foot {
    
}



@media screen and (min-width: 600px) {
    main {
        box-shadow: var(--shadow-all-around) rgba(var(--gray-color), 0.5);
        display: flex;
        flex-direction: row;
        margin: 0 var(--space-2xl);
        width: 100%;
        max-height: 500px;
        border-radius: 24px;
        overflow-x: hidden;
    }

    .connexion-hero {
        display: block;
        flex: 3 1 auto;
        min-width: 50%;
        background: linear-gradient(135deg, rgba(var(--first-color), 1), rgba(var(--second-color), 1));
    }

    .form-content {
        padding: var(--space-lg);
        flex: 2 1 auto;
    }
}