@import url("/front-end/assets/styles/global.css");

/*////////////////////////////////
//            hero             //
//////////////////////////////*/
.hero {
    padding: var(--space-lg);
    margin: 20px 20px 40px 20px;
    border-radius: 12px;
    background: linear-gradient(135deg,
            rgba(var(--first-color), 0.9),
            rgba(var(--second-color), 0.9));
}

.hero-title {
    color: white;
    font-size: var(--text-2xl);
    font-weight: var(--fw-bold);
}

@media screen and (max-width: 760px) {
    .hero {
        margin: 10px;
    }

    .hero-title {
        font-size: var(--text-xl);
    }

}