/*/////////////////////////////////
//         login page           //
///////////////////////////////*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main {

}


.connexion-hero {
    display: none;
}

.form-content {
    gap: var(--space-xl);
}

.title-form {
    text-align: center;
    font-weight: var(--fw-semibold);
    font-size: var(--text-xl);
    color: rgba(var(--second-color), 1);
}

.connexion-form {
    gap: var(--space-lg);
}

.second-register-page {
    display: none;
}

.first-register-page,
.second-register-page {
    gap: var(--space-md);
}

.input-group:focus-within label {
    color: rgba(var(--first-color), 1);
    font-weight: var(--fw-semibold);
}

.input-group label span {
    padding: 0px 0px var(--space-sm);
    font-weight: inherit;
}

.input-group input:focus {
    border: none;
    box-shadow: var(--shadow-all-around) rgba(var(--first-color), 0.8);
}

.forgot-password {
    font-size: var(--text-xs);
    text-align: right;
}

.not-account {
    font-size: var(--text-sm);
    text-align: center;
}

.not-account a {
    color: rgba(var(--second-color), 1);
    text-decoration: none;
    font-weight: var(--fw-semibold);
}

#next span,
#previous span {
    font-weight: var(--fw-semibold);

}
#next span, #previous {
    gap: var(--space-sm);
}

#foot {
    position: fixed;
    bottom: 0;
}



@media screen and (min-width: 600px) {
    main {
        box-shadow: var(--shadow-all-around) rgba(var(--gray-color), 0.5);
        display: flex;
        flex-direction: row;
        width: auto;
        min-width: 800px;
        height: 560px;
        border-radius: 24px;
        overflow-x: hidden;
        transition: var(--transition-slow);
    }

    main:hover{
        transform: translateY(-10px);
    }
    .connexion-hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 3 1 auto;
        min-width: 50%;
        overflow: hidden;
        background: linear-gradient(135deg, rgba(var(--first-color), 1), rgba(var(--second-color), 1));
    }

    .connexion-hero div:first-child {
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: moov-logo linear 2s infinite;
    }

    .connexion-hero div img {
        width: 100%;
        filter: drop-shadow(0 0 10px rgba(var(--first-color), 1));
    }

    @keyframes moov-logo {
        50% {}

        50% {
            transform: translateY(7px);
        }
    }

    .connexion-hero p {
        color: white;
        font-weight: var(--fw-semibold);
        font-size: var(--text-2xl);
    }

    .form-content {
        padding: var(--space-lg);
        flex: 2 1 auto;
    }

    .mobile {
        display: none;
    }

}