/*---------- hero -------------*/

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: var(--space-2xl) var(--space-md);
    padding: var(--space-md) var(--space-lg);
    border-radius: var(--radius-xl);
    background: ;
    background: linear-gradient(135deg, rgba(var(--first-color), 0.1), rgba(var(--second-color), 0.1));
}

.hero p {
    background: linear-gradient(135deg, rgba(var(--first-color), 1), rgba(var(--second-color), 1));

    font-weight: var(--fw-bold);
    font-size: var(--text-2xl);
    line-height: 1.3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*---------- CTA ----------------*/
.CTA {
    margin: var(--space-2xl) 0;
    justify-content: space-between;
    width: 100%;
}

.CTA button a {
    color: white;
    text-decoration: none;
    font-weight: var(--fw-medium);
}

/*----------why shouse us ------*/
.why-shoose-us {
    border-top: 2px solid rgba(var(--first-color), 0.5);
    margin: var(--space-2xl) var(--space-md) var(--space-lg);
    transition: var(--transition-slow);
    padding-bottom: var(--space-md);
}

.why-shoose-us:hover {
    border-radius: 20px;
    background: rgba(var(--first-color), 0.05);
    box-shadow: var(--shadow-all-around) rgba(var(--first-color), 0.3);
}

.why-shoose-all {
    justify-content: space-between;
    align-items: center;
    font-weight: var(--fw-semibold);
    gap: var(--space-lg);
    padding: 0 var(--space-md);
}

.why-shoose-us>p {
    font-weight: var(--fw-semibold);
    text-align: center;
    font-size: var(--text-xl);
    margin: var(--space-lg) 0;
}

.why-shoose-item {
    height: 100%;
    background: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--space-md);
    padding: var(--space-lg);
    border-radius: 10px;
    box-shadow: var(--shadow-all-around) rgba(var(--gray-color), 0.2);
    transition: all var(--transition-slow);
}

.why-shoose-item:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-all-around) rgba(var(--first-color), 0.5);
}

.why-shoose-item h3 {
    width: 100%;
    text-align: left;
    font-weight: var(--fw-medium);
    font-size: var(--text-lg);
    flex-wrap: nowrap;
    gap: var(--space-sm);
}

.why-shoose-item:hover h3 {
    color: rgba(var(--first-color), 1);
}

@media screen and (min-width: 600px) {
    .why-shoose-us {
        padding: var(--space-lg);
        margin: var(--space-2xl) var(--space-lg) var(--space-lg);
    }

    .why-shoose-all {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--space-lg);
    }

    .hero {
        align-items: flex-start;
        margin: var(--space-2xl) var(--space-lg);
        padding: var(--space-lg) var(--space-2xl);
    }

    .hero p {
        width: 100%;
        max-width: 500px;
        text-align: left;
    }

    .CTA {
        gap: var(--space-2xl);
        width: 100%;
        justify-content: flex-start;
    }
}