/*--------- header global -------*/
.header-container {
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(30px);
    position: fixed;
    top: 0px;
    width: 100%;
    padding: var(--space-sm) var(--space-lg);
    gap: 10px;
    margin-bottom: 100px;
    z-index: 1000;
    box-shadow: var(--shadow-sm) rgba(var(--gray-color), 0.3);
}


/*---------- info App -----------*/
.app-meta {
    gap: 5px;
    background: rgba(var(--first-color), 0.2);
    border-radius: var(--radius-md);
    padding: var(--space-sm);

}

.logo-container {
    width: 50px;
    height: auto;
}

.logo-container img {
    width: 100%;
}

.app-name {
    background: linear-gradient(to right, black 60%, rgba(var(--first-color), 1) 50%);
    font-size: var(--text-lg);
    font-weight: var(--fw-bold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



/*-----------nav no onnected --------*/
.hd-nav-noConnected {
    gap: var(--space-lg);
    position: relative;
}

.hd-nav-noConnected li {
    list-style: none;
}

.hd-nav-noConnected li a {
    font-weight: var(--fw-medium);
    transition: var(--transition-slow);
    text-decoration: none;
    color: black;
}

.underliner {
    position: absolute;
    bottom: 0px;
    height: 3px;
    background: rgba(var(--second-color), 1);
    border-radius: var(--radius-md);
    transition: var(--transition-slow);
}

.hd-nav-noConnected li a:hover {
    font-weight: var(--fw-semibold);
    color: rgba(var(--second-color), 1);
}

.menu-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-xs);
    width: 40px;
    border-radius: var(--radius-oval);
    aspect-ratio: 1 / 1;
    transition: var(--transition-slow);
}

.menu-mobile:active {
    background: rgba(var(--second-color), 0.7);
}

.menu-mobile svg {
    stroke-width: 2px;

}


/*------------reponsive design ------*/
@media screen and (max-width: 600px) {
    .logo-container {
        width: 40px;
        height: auto;
    }

    nav {
        position: fixed;
        right: var(--space-sm);
        top: var(--space-2xl);
        background: white;
        border-radius: var(--radius-md);
        box-shadow: var(--shadow-all-around) rgba(var(--gray-color), 0.3);
        padding: var(--space-sm) var(--space-lg);
        transition: var(--transition-slow);
        animation: nav_animation 0.20s ease;

    }

    @keyframes nav_animation {
        from {
            right: 0;
            top: 0;
        }

        to {
            right: var(--space-sm);
            top: var(--space-2xl);
        }

    }

    nav .hd-nav-noConnected {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
        align-items: flex-start;
        transition: var(--transition-slow);
    }

    .underliner {
    }


}