/*--------- header global -------*/
.header-container {
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(30px);
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px 5px;
    gap: 10px;
    margin-bottom: 100px;
    z-index: 1000;
    box-shadow: var(--shadow-sm) rgba(var(--gray-color), 0.3);
}


/*---------- info App -----------*/
.app-meta {
    gap: 5px;
}

.logo-container {
    width: 50px;
    height: auto;
}

.logo-container img {
    width: 100%;
}

.app-name {
    background: linear-gradient(to right, black 60%, rgba(var(--first-color), 1) 50%);
    font-size: var(--text-lg);
    font-weight: var(--fw-bold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



/*------------reponsive design ------*/
@media screen and (max-width: 600px) {
    .logo-container {
        width: 40px;
        height: auto;
    }

}